  html {
   background-color: black;
   background-image: url('http://www.mytinyphone.com/uploads/users/mops801/304344.jpg');
   background-size: cover;
   background-attachment: fixed;
}
header {
   background-color: ;
   color: #FFFFFF;
   padding: 20px;
   font-family: 'Lobster', cursive;
   text-align: center
}
.introduction {
   background-color: black;
   padding: 10px;
   width: 700px;
   margin: 0 auto;
   margin-top: 30px;

   color: white;
   font-size: 14px;
   line-height: 130%;
   border: 10px solid #1770FF;
   border-radius: 10px;
}

.gallery img
{
   height: 100px;
   border-width: 10px;
   border-color: #FFFFFF;
   border-style: solid;
   box-shadow: 3px 3px 5px 6px #000000;
   margin: 5px;
   font-size: 20;
}
.Sports img {
   height: 100px;
   border-width: 10px;
   border-color: #FFFFFF;
   border-style: solid;
   box-shadow: 3px 3px 5px 6px #000000;
   margin: 5px;
   font-size: 20;
}


.Food img
{
   height: 100px;
   border-width: 10px;
   border-color: #FFFFFF;
   border-style: solid;
   box-shadow: 3px 3px 5px 6px #000000;
   margin: 5px;
   font-size: 20;
}

.Music img
{
   height: 100px;
   border-width: 10px;
   border-color: #FFFFFF;
   border-style: solid;
   box-shadow: 3px 3px 5px 6px #000000;
   margin: 5px;
   font-size: 20;
}



.main-navigation {
    background: ;
}
.main-navigation a {
    background-color: ;
    border-color: ;
    font-weight: bold;
    display: inline-block;
    padding: 5px 10px;
}

.main-navigation a:hover {
    background-color: ;
    color: #FFFFFF;
}
section {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
}
